node_modules
.yarn
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
webroot
dist
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Build artifacts
dist/
build/
*.zip
*.tar.gz

# IDE and OS specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Phaser Editor specific files (if used)
.skip
.project